/* codemirror/theme/monokai.css */
.cm-s-monokai.CodeMirror { background: #272822; color: #f8f8f2; }
.cm-s-monokai .CodeMirror-gutters { background: #272822; border-right: 0px; }
.cm-s-monokai .CodeMirror-linenumber { color: #75715e; }
.cm-s-monokai .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
.cm-s-monokai .cm-keyword { color: #f92672; }
.cm-s-monokai .cm-number { color: #ae81ff; }
.cm-s-monokai .cm-string { color: #e6db74; }
.cm-s-monokai .cm-comment { color: #75715e; }
.cm-s-monokai .cm-variable { color: #f8f8f2; }
.cm-s-monokai .CodeMirror-selected { background: #49483e; }
.cm-s-monokai .CodeMirror-focused .CodeMirror-selected { background: #49483e; }
